<!doctype html>
<html lang="fr">
	<head>
	  <meta charset="utf-8">
	   <link rel="stylesheet" href="styles/style.css">
	  <script src="scripts/script.js"></script>
	  <title>ToDoList</title>
	</head>
	<body>
	 	<h1>To do list</h1>
	 	<ul>
		 	
		 		<!-- //on parcours la variable saisies -->
		 	{{#saisies}}
			 	<!-- la liste et le bouton supprimer et valider-->
			 		<li id =li{{id}}>
			 			{{#valider}}
			 				<strike id=strike{{id}}> 
			 			{{/valider}}
			 			<p id=p{{id}}>
			 				{{libelle}}
			 			</p>
			 			{{#valider}}
			 				</strike> 
			 			{{/valider}} 
			 		</li>
			 		<p id=boutton{{id}}>
			 		<button id="btnSpr{{id}}" onclick="supprimer({{id}});">Supprimer</button>
			 		<button id="btnVal{{id}}" onclick="valider({{id}});">Valider / Non Valider</button> 
			 		<br/>
			 		</p>
		 	{{/saisies}}
	 	</ul>
	 	<h1>Ajouter un Element à la liste : </h1>
	 	<!-- si on vient d'insÃƒÂ©rer une valeur on l'affiche sinon on dit que rien n'est saisie-->
	 	{{#insert}}
	 		Vous avez saisie {{valeur}}
	 	{{/insert}}
	 	{{^insert}}
	 		Vous n'avez rien saisie
	 	{{/insert}}
	 	<!-- formulaire d'ajout --> 
	 		<br/><br/><p>Votre saisie : <input id="saisie" type="text" name="value" /></p>
	 		<button onclick="ajouter();">OK</button>
	</body>
</html>