<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>ToDoList</title>
		<link href="vendor/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Open+Sans+Condensed:300,700" rel="stylesheet" />
		<link href="styles/default.css" rel="stylesheet" type="text/css" media="all" />
		<link href="styles/fonts.css" rel="stylesheet" type="text/css" media="all" />
		<script src="scripts/script.js"></script>
	</head>
	<body>
		<div id="logo" class="container">
			<h1><span class="icon icon-list-ol icon-size"></span><a href=""><span>To do list</span></a></h1>
		</div>
		<div id="wrapper" class="container">
			<div id="liste" class="container">
				<div><span class="arrow-down"></span></div>
					<ul id =ul class="list-group">
				 		{{! on parcours la variable saisies }}
					 	{{#saisies}}
						 	{{! le nom de l element }} 
						 		<li id =li{{id}} class="list-group-item">
						 			<span  id=element{{id}}>
							 			{{#valider}}
							 				<strike id=strike{{id}} style="font-size: xx-large;"> 
							 			{{/valider}}
							 			<span id=lib{{id}} style="font-size: x-large;">
							 				{{libelle}} 
							 			</span>
							 			{{#valider}}
							 				</strike> 
							 			{{/valider}} 
						 			</span>
							 		{{! les boutons  }} 
							 		<span id=boutton{{id}}>
							 			&nbsp;&nbsp;
							 			<button id="btnVal{{id}}" class="btn btn-success fa fa-check-square" onclick="valider({{id}});"/>
							 			<button id="btnUpdate{{id}}" class="btn btn-warning fa fa-pencil" onclick="modifier({{id}},{{valider}});"/> 
							 			<button id="btnSpr{{id}}" class="btn btn-danger fa fa-trash" onclick="supprimer({{id}});"/>
							 		</span>
						 		</li>
					 	{{/saisies}}
			 	</ul>
			</div>
			<div id="insert" class="container">
				<div><span class="arrow-down"></span></div>
				<div class="title">
					<h2>Ajouter un Element à la liste :</h2>
				</div>
				 	{{! si on vient d'inserer une valeur on l'affiche sinon on dit que rien n'est saisie }} 
				 	<span style="font-size: x-large;" id=infoSaisie>Vous n'avez rien saisie</span>
				 	{{! formulaire d'ajout }} 
				 	<br/><br/><br/>    
    				<input style="font-size: x-large;" id="saisie" type="text" class="form-control" name="msg" placeholder="Vous devez renseignez au moins un caractère" />
				 	<div class="actions"><button type="button" class="btn btn-primary" style="font-size: xx-large;" onclick="ajouter();">Insérer</button></div>	
			</div>
		</div>
	</body>
</html>
